body {
  background-image: url("../images/space-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  align-items:center;
  display:flex;
}

.container-fluid {
  display:flex;
  justify-content: center;
  align-content:center;
}

#gameContainer {
  display:flex;
  width:700px;
  flex-direction: column;
  position:relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.884);
  border: 5px solid rgba(197, 21, 197, 0.63);
  /*background: 
  linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
  linear-gradient(to right, darkblue, darkorchid) border-box;*/
  border-radius: 5em;
  /*border: 4px solid transparent;*/
  box-shadow: rgba(142, 34, 204, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px 25px;
}



h1 {
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-family: 'Trispace', sans-serif;
  text-align:center;
}

#timer {
  font-family: 'Trispace', sans-serif;
  font-size: 3em;
}

#equation {
  font-family: 'Trispace', sans-serif;
  font-size: 4em;
  color: rgb(14, 131, 185);
}

#points {
  float:right;
  margin-left:20px;
}

.answerBox {
  margin-top:10px;
  margin-bottom:20px;
}

#points {
  font-family: 'Poppins', sans-serif;
}

.alien {
  transform: rotate(32deg);
  position: absolute;
  left: 70px;
  animation: fadeinout 1s linear forwards;
}

.astronaut {
  transform: rotate(12deg);
  position: absolute;
  bottom: 130px;
  right: 70px;
  animation: fadeinout 1s linear forwards;
}

.planet {
  transform: rotate(22deg);
  position: absolute;
  bottom: 100px;
  left: 46px;
  animation: fadeinout 1s linear forwards;
}

.spaceship {
  transform: rotate(5deg);
  position: absolute;
  top: 20px;
  right: 73px;
  animation: fadeinout 1s linear forwards;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}